.root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  margin-left: 50px;
}

.price {
  color: rgb(70, 163, 88);
  font-size: 16px;
  font-weight: 600;
}

.img {
  height: 250px;
  background-color: rgba(245, 245, 245, 0.5);
}

.product {
  border-top: rgba(245, 245, 245, 0.5) 1px solid;

  &:hover {
    border-top: rgb(70, 163, 88) 1px solid;
    transition: 0.3s;
  }
}
