.root {
  margin-left: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
}

.bar {
  margin-bottom: 36px;
}

.list {
  display: flex;
  gap: 40px;
  font-size: 15px;
}

.listItem {
  cursor: pointer;
  &:hover {
    color: var(--greenMain);
    
  }

  &_isActive {
    color: var(--greenMain);
    font-weight: 600;
    text-decoration: underline;
  }
}
