.root {
  margin-left: 50px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: space-between;
}

.bar {
  margin-bottom: 36px;
}

.list {
  display: flex;
  gap: 40px;
  font-size: 15px;
}

.listItem {
  cursor: pointer;
  &:hover {
    color: var(--greenMain);
  }

  &_isActive {
    color: var(--greenMain);
    font-weight: 600;
    text-decoration: underline;
  }
}
