.root {
  height: 30px;;
  width: calc(100% - 160px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  border-bottom: var(--background) 1px solid;
  position: fixed;
  background-color: white;
  z-index: 2;
  top: 0;
}

.logoWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-size: 16px;
  color: var(--greenMain);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sideBar {
  display: flex;
  gap: 50px;
  font-size: 16px;
  font-weight: 400;

  &_item {
    cursor: pointer;
    &:hover {
      font-weight: 600;
      transition: 0.2s;
    }
  }
}

.userBlock {
  display: flex;
  align-items: center;
  gap: 30px;
}
