.root {
  border: none;
  border-radius: 6px;
  background-color: #46A358;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  letter-spacing: 0.8px;
  cursor: pointer;
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 8px;
}