body {
  --background : rgba(245, 245, 245, 0.5)

  --greenMain: rgb(70, 163, 88)
  --greenSecondary: rgba(70, 163, 88, 0.1)

  --textSecondary: rgba(114, 114, 114, 1)
  --textMain: rgba(61, 61, 61, 1)
  --textForButton: rgba(251, 251, 251, 1)

  --redIcon: rgba(240, 56, 0, 1)
}